h1{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: brown;
}
.calculator{
    text-align: center;
    padding: 0.5em;
    margin: auto;
}
.display{
    background-color: black;
    padding-right: 0.2em;
    padding-left: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color: green;
    font-size: xx-large;
    font-weight: bold;
    text-align: right;
    width: 50vw;
    height: auto;
    margin: auto;
    word-wrap: break-word;
}

.operator{
    background-color: orange;
}

.calc_keys{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 50vw;
    height: 20vw;
    padding-right: 0.2em;
    padding-left: 0.2em;
}